<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Amazon Product Scraper</h1>
        <form action="/scrape" method="POST">
            <input type="url" id="url" name="url" placeholder="Enter Amazon URL" required>
            <button type="submit">Scrape</button>
        </form>
        <a href="{{ url_for('static', filename='help_page/help_page.html') }}" target="_blank">Help</a>
    </div>
</body>
</html>